Repository nokodo-labs/monorepo-template, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-github-org/your-team, @your-github-org/backend-team, @your-github-org/frontend-team, @your-github-org/devops-team, @your-github-org/docs-team

.github/CODEOWNERS:

# CODEOWNERS - Define code ownership for pull request reviews
# Syntax: path/pattern @github-username @github-team

# Root files - replace with your team/handles
* @your-github-org/your-team

# Backend
/backend/ @your-github-org/backend-team
/backend/api/ @your-github-org/backend-team
/backend/project_slug/ @your-github-org/backend-team

# Frontend
/frontend/ @your-github-org/frontend-team

# Infrastructure & DevOps
/.docker/ @your-github-org/devops-team
/.github/ @your-github-org/devops-team
/tools/ @your-github-org/devops-team

# Documentation
/docs/ @your-github-org/docs-team
*.md @your-github-org/docs-team

ci: remove production branch and refine workflow triggers
  .github/workflows/main.yml
  .github/workflows/promotion.yml
Owners: @your-github-org/devops-team

refactor(ci): generalize promotion workflow config
  .github/workflows/main.yml
  .github/workflows/promotion.yml
Owners: @your-github-org/devops-team

refactor(ci): reorganize workflow jobs and rename Docker workflow
  .github/workflows/docker-publish.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/main.yml
Owners: @your-github-org/devops-team

refactor(ci): rename docker workflow from deploy to publish
  .github/workflows/release.yml
Owners: @your-github-org/devops-team

feat(frontend): add Vitest testing infrastructure
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/main.yml
  frontend/package.json
  frontend/src/lib/Counter.test.ts
  frontend/src/lib/api/client.test.ts
  frontend/src/test/README.md
  frontend/src/test/setup.ts
  frontend/vitest.config.ts
Owners: @your-github-org/devops-team, @your-github-org/frontend-team, @your-github-org/docs-team

chore(frontend): add testing infrastructure with Vitest
  frontend/package.json
  frontend/src/vite-env.d.ts
Owners: @your-github-org/frontend-team

chore(deps): upgrade testing dependencies to latest versions
  frontend/package-lock.json
  frontend/package.json
Owners: @your-github-org/frontend-team

fix(frontend): improve type safety and enable Svelte runes
  .github/workflows/main.yml
  frontend/src/App.svelte
  frontend/src/vite-env.d.ts
  frontend/svelte.config.js
Owners: @your-github-org/devops-team, @your-github-org/frontend-team

refactor(ci): consolidate workflow jobs and optimize execution
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
Owners: @your-github-org/devops-team

style(users): convert indentation from spaces to tabs
  backend/api/v1/endpoints/users.py
Owners: @your-github-org/backend-team

ci(workflows): refine deployment and CI triggers
  .github/workflows/main.yml
Owners: @your-github-org/devops-team

feat: added uv.lock for consistency
  backend/uv.lock
Owners: @your-github-org/backend-team

fix(docker): update Dockerfile to copy uv.lock and correct CMD instruction
  .docker/Dockerfile.backend
Owners: @your-github-org/devops-team

feat: integrate uv package manager for backend and update commands in Docker and CI configurations
  .docker/Dockerfile.backend
  .docker/docker-compose.dev.yml
  .docker/docker-compose.yml
  .github/copilot-instructions.md
  .github/dependabot.yml
  .github/workflows/backend-ci.yml
  .vscode/tasks.json
  README.md
  backend/project_name/README.md
  backend/project_name/__init__.py
  backend/pyproject.toml
  backend/requirements.txt
  docs/setup.md
  frontend/src/App.svelte
Owners: @your-github-org/devops-team, @your-github-org/docs-team, @your-github-org/your-team, @your-github-org/backend-team, @your-github-org/frontend-team

fix(frontend): configure relative base path for deployment
  .github/workflows/deploy-frontend-pages.yml
  .github/workflows/frontend-ci.yml
  frontend/vite.config.ts
Owners: @your-github-org/devops-team, @your-github-org/frontend-team

fix(frontend): configure relative base path for deployment
  .github/workflows/deploy-frontend-pages.yml
  .github/workflows/frontend-ci.yml
  frontend/vite.config.ts
Owners: @your-github-org/devops-team, @your-github-org/frontend-team

fix(ci): update backend CI workflow to use uv for dependency installation and code checks
  .github/workflows/backend-ci.yml
Owners: @your-github-org/devops-team

fix(ci): update uv setup action to version 7 in backend CI workflow
  .github/workflows/backend-ci.yml
Owners: @your-github-org/devops-team

fix(ci): remove Python setup steps and streamline uv installation in backend CI workflow
  .github/workflows/backend-ci.yml
Owners: @your-github-org/devops-team

fix(ci): update Python version in build matrix to 3.14
  .github/workflows/backend-ci.yml
Owners: @your-github-org/devops-team

docs: update configuration for project restructure
  .vscode/tasks.json
  docs/setup.md
Owners: @your-github-org/your-team, @your-github-org/docs-team

refactor(backend): rename project_name to project_slug
  backend/project_slug/README.md
  backend/project_slug/__init__.py
  backend/project_slug/tests/README.md
  backend/project_slug/tests/__init__.py
Owners: @your-github-org/docs-team, @your-github-org/backend-team

refactor(deps): separate library and API dependencies
  .docker/Dockerfile.backend
  .github/workflows/backend-ci.yml
  .vscode/tasks.json
  backend/api/core/config.py
  backend/api/models/user.py
  backend/api/tests/conftest.py
  backend/pyproject.toml
  backend/requirements.txt
  docs/setup.md
  frontend/src/App.svelte
Owners: @your-github-org/devops-team, @your-github-org/your-team, @your-github-org/backend-team, @your-github-org/docs-team, @your-github-org/frontend-team

docs: update README and reorganize alembic structure
  README.md
  backend/api/alembic.ini
  backend/api/alembic/env.py
  backend/api/alembic/script.py.mako
  docs/setup.md
Owners: @your-github-org/docs-team, @your-github-org/backend-team

docs(readme): enhance documentation with branding and UX
  README.md
  docs/setup.md
Owners: @your-github-org/docs-team

style(alembic): reorder imports to follow conventions
  backend/api/alembic/env.py
Owners: @your-github-org/backend-team
